.ButtonList {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    height: 100px;
  }
  
  .ButtonList button {
    padding: 1rem;
    font-size: 2rem;
    color: white;
    border: 1px solid white;
    margin: 1rem;
  }
  