
html, body {
    line-height: 1em;
    word-spacing: 1px;
    padding: 0px;
}
#dimension__agility,
#dimension__resilience,
#dimension__intentional,
#dimension__self-starting,
#dimension__engaging,
#dimension__technical,
#dimension__derailers2,
#instructions__hero {
    page-break-before: always;
    break-before: page;
}

.jumbotron.report-hero {
    display: none;
}

.print__cover {
    display: block;
    width: 100%;
    height: 900px;
    margin: 10px auto;
    border: 1px solid #000000;
    border-radius: 5px;
}
.print__cover--header {
    text-align: center;
    height: 250px;
}
.print__cover--main {
    height: 500px;

}
.print__cover--footer {
    height: 200px;
    padding-left: 20px;
}

#summary {
    page-break-before: always;
    break-before: page;
    display: block;
    width: 100%;
    margin: 10px auto;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}

.summary__gauges--bigFive,
.summary__gauges {
    display: table;
    width: 100%;
    height: 100%;
}
.summary__gauges--bigFive .summary__gauge {
    border: 1px solid #000000;
    border-radius: 5px;
    width: calc(33.333% - 20px);
    float: left;
    clear: right;
    text-align: center;
    margin: 10px;
}
.summary__gauges .summary__gauge {
    border: 1px solid #000000;
    border-radius: 5px;
    width: calc(25% - 20px);
    float: left;
    clear: right;
    text-align: center;
    margin: 10px;
}
.summary__gauge--title {
    margin-bottom: -25px;
}

.dimension__container {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
}
.dimension__container--title {
    text-align: center;
}

.dimension__overview {
    display: table;
    width: 100%;
}
.dimension__gauge {
    width: 250px;
    margin-left: -65px;
    float: left;
    clear: right;
}

.interview__wrapper {
    margin: 10px;
}
.accordion__wrapper {
    page-break-inside: avoid;
}
.interview__group__button {
    border: none;
    width: 100%;
}
.interview__group__button .interview__group-title {
    text-align: center;
}
.interview__qal-wrapper {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #000000;
    page-break-inside: avoid;
}
.interview__qal-wrapper:last-of-type {
    border-bottom: none;
}


.dimension__static-container {
    display: table;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    page-break-inside: avoid;
}
.dimension__static-container-title {
    text-align: center;
}

.gauge2 {
    width: 250px;
    margin-left: -65px;
    float: left;
    clear: right;
}
.dimension__general,
.dimension__high,
.dimension__low {
    float: right;
    clear: right;
    width: 450px;
}

.instructions__hero__title {
    text-align: center;
}

.instructions__overview {
    display: table;
    width: 100%;
    height: 550px;
    padding: 10px;
}
.instructions {
    text-align: center;
}

.instructions__before,
.instructions__after {
    float: left;
    clear: right;
    width: calc(50% - 20px);
    height: 500px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.instructions__title {
    text-align: center;
}
.copyright {
    text-align: center;
    margin: 20px auto;
}




