body {
	font-family: 'Roboto', sans-serif;

}

.baker-blue {
	color: rgb(0,99,189);
}

.navbar-brand img {
	height: 25px;
	width: auto;
}

.index-hero {
	height: 80vh;
	background-image: url(../assets/baker-facebook-cover.jpg);
	background-size: cover;
	background-position: right;
	color: white;
}

.index-hero h1 {
	margin-top: 10%;
	color: black;
    text-shadow: 2px 2px 4px #000000;
    
}



/*********************************
	Start Home Page "About Us"
*********************************/

.index-about {
	color: white;
	background-color: rgb(0,99,189);
	padding: 10px 0px;
	margin-bottom: 50px;
}
.index-about img {
	width: 100%;
	height: auto;
}
.index-about p {
	text-align: justify;
	padding-left: 30px;
	padding-right: 50px;
}
.index-about p:first-of-type {
	padding-top: 30px;
}
.index-about a {
	text-decoration: none;
	color: white;
}
.index-about a:hover {
	text-decoration: underline;
	color: white;
}
.index-about a:visited {
	text-decoration: none;
	color: white;
}



.index-depts {
	margin-bottom: 30px;
}

/*********************************
			Footer
*********************************/

#contact {
	color: white;
	background: black;
	margin-top: 75px;
}

#contact p {
	padding-bottom: 20px;
}
#contact i {
	padding: 20px 0px 10px;
}

.social {
	background-color: none;
}

.social i {
	padding: 40px 20px;
}


/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 576px) {

.index-hero {
	height: 90vh;
	background-image: url(../assets/baker-facebook-cover.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	box-shadow: 0px 2px 5px #dadada;
}

.index-hero h1 {
	margin-top: 15%;
	color: white;
}

/*********************************
	Home Page Product Callouts
*********************************/

.index-products {
	margin-top: 50px;
	margin-bottom: 50px;
}

.index-product {
	margin: 10px 0px;
	border: .5px solid #dadada;
	border-radius: 5px;
	min-height: 300px;
	box-shadow: 0px 2px 5px #dadada;/*
    position: relative;
    top: 0;
    transition: all .1s ease-in;*/
}/*
.index-product:hover {
	top: -2px;
    box-shadow: 2px 4px 5px #dadada;
}*/

.index-product h4 {
	padding: 25% 10%;
	color: white;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
    text-shadow: 2px 2px 4px #000000;
}
.index-product h4:hover {
	top: -5px;
    text-shadow: 2px 2px 8px #000000;
}

.index-golf {
	background-image: url(../assets/baker-ventrac-golf-contour-mower-MJ840-WoosterCC-1258.jpg);
	background-size: cover;
	background-position: center;
}
.index-pro-turf {
	background-image: url(../assets/baker-pro-turf-ASVScoutPicture.jpg);
	background-size: cover;
	background-position: center;
}
.index-industrial {
	background-image: url(../assets/baker-commercial-titanxd_vehicledetailpage_gallery1_500x350.jpg);
	background-size: cover;
	background-position: center;
}
.index-snow-removal {
	background-image: url(../assets/baker-snow-ventrac-SSV_0871.jpg);
	background-size: cover;
	background-position: center;
}
.index-rough {
	background-image: url(../assets/baker-rough-kioto-RX7320-01.jpg);
	background-size: cover;
	background-position: center;
}
.index-green {
	background-image: url(../assets/baker-green-cushman-haulerpro_vehicledetailpage_gallery3_500x350.jpg);
	background-size: cover;
	background-position: center;
}

/*********************************
		Home Page "About Us"
*********************************/

.index-about {
	color: white;
	background-color: rgb(0,99,189);
	padding: 10px 0px;
	margin-bottom: 50px;
}
.index-about img {
	width: 100%;
	height: auto;
}
.index-about p {
	text-align: justify;
	padding-left: 30px;
	padding-right: 50px;
}
.index-about p:first-of-type {
	padding-top: 30px;
}
.index-about a {
	text-decoration: none;
	color: white;
}
.index-about a:hover {
	text-decoration: underline;
	color: white;
}
.index-about a:visited {
	text-decoration: none;
	color: white;
}

/*********************************
			Footer
*********************************/

#contact {
	color: white;
	background: black;
	margin-top: 75px;
}

#contact p {
	padding-bottom: 20px;
}
#contact i {
	padding: 20px 0px 10px;
}

.social {
	background-color: none;
}

.social i {
	padding: 40px 20px;
}

	}

/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 768px) {


	}

/***************************************************/
/* Medium Devices, Desktops */
/***************************************************/
 @media only screen and (min-width : 992px) {

 	}

 /***************************************************/
/* Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1200px) {

	}
}









