body {
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;

}

.baker-blue {
	color: rgb(0,99,189);
}

.navbar-brand img {
	height: 25px;
	width: auto;
}


.index-item {
	height: 80vh;
	background-color: lightgrey;
	margin-bottom: 75px;
}
.carousel-caption {
    width:95%;
    height:40%;
    left:0 !important;
}
.carousel-caption h1 {
  text-align:center;
  margin-left:15px;
  text-transform: uppercase;
}
.carousel-caption p {
  text-align:center;
  margin-left:15px;
}

.carousel-baker {
	background:  
		linear-gradient(
			to top,
	      rgba(0,99,189, 0.9),
	      rgba(0,99,189, 0.8),
	      rgba(0,99,189, 0.7),
	      rgba(0,99,189, 0.4),
	      rgba(0,99,189, 0.1),
	      rgba(0,99,189, 0.0),
	      rgba(0,99,189, 0.0),
	      rgba(0,99,189, 0.0),
	      rgba(0,99,189, 0.0)
	    ),
		url(../assets/baker-facebook-cover-370x600.jpg);
	background-size: cover;
	background-position: top;
}
.carousel-golf {
	background:  
		linear-gradient(
			to top,
	      rgba(0,0,0, 0.9),
	      rgba(0,0,0, 0.8),
	      rgba(0,0,0, 0.7),
	      rgba(0,0,0, 0.4),
	      rgba(0,0,0, 0.3),
	      rgba(0,0,0, 0.1),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0)
	    ),
		url(../assets/baker-golf-hustlerturf-370x600.jpg);
	background-size: cover;
	background-position: top;
}
.carousel-pro-turf {
	background:  
		linear-gradient(
			to top,
	      rgba(0,0,0, 0.9),
	      rgba(0,0,0, 0.8),
	      rgba(0,0,0, 0.7),
	      rgba(0,0,0, 0.4),
	      rgba(0,0,0, 0.3),
	      rgba(0,0,0, 0.1),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0)
	    ),
		url(../assets/baker-proturf-smithco-homepage-2-370x600.jpg);
	background-size: cover;
	background-position: top;
}
.carousel-commercial {
	background:  
		linear-gradient(
			to top,
	      rgba(0,0,0, 0.9),
	      rgba(0,0,0, 0.8),
	      rgba(0,0,0, 0.7),
	      rgba(0,0,0, 0.4),
	      rgba(0,0,0, 0.3),
	      rgba(0,0,0, 0.1),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0)
	    ),
		url(../assets/baker-commercial-titanxd_vehicledetailpage_gallery1_370x600.jpg);
	background-size: cover;
	background-position: right;
}
.carousel-snow-removal {
	background:  
		linear-gradient(
			to top,
	      rgba(0,0,0, 0.9),
	      rgba(0,0,0, 0.8),
	      rgba(0,0,0, 0.7),
	      rgba(0,0,0, 0.4),
	      rgba(0,0,0, 0.3),
	      rgba(0,0,0, 0.1),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0)
	    ),
		url(../assets/baker-snow-12_ventrac_december_wallpaper_2017_370x600.jpg);
	background-size: cover;
	background-position: right;
}

.carousel-rough-terrain {
	background:  
		linear-gradient(
			to top,
	      rgba(0,0,0, 0.9),
	      rgba(0,0,0, 0.8),
	      rgba(0,0,0, 0.7),
	      rgba(0,0,0, 0.4),
	      rgba(0,0,0, 0.3),
	      rgba(0,0,0, 0.1),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0)
	    ),
		url(../assets/baker-rough-textron-atv_alterratbx700_marquee_370x600.jpg);
	background-size: cover;
	background-position: center;
}

.carousel-green {
	background:  
		linear-gradient(
			to top,
	      rgba(0,0,0, 0.9),
	      rgba(0,0,0, 0.8),
	      rgba(0,0,0, 0.7),
	      rgba(0,0,0, 0.4),
	      rgba(0,0,0, 0.3),
	      rgba(0,0,0, 0.1),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0)
	    ),
		url(../assets/baker-green-cushman-haulerpro_vehicledetailpage_gallery3_370x600.jpg);
	background-size: cover;
	background-position: center;
}


.index-depts {
	margin-bottom: 50px;
}


/*********************************
	Start Home Page "About Us"
*********************************/

.index-about {
	color: white;
	background-color: rgb(0,99,189);
	padding: 10px 0px;
	margin-bottom: 50px;
}
.index-about img {
	width: 100%;
	height: auto;
}
.index-about p {
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
}
.index-about p:first-of-type {
	padding-top: 30px;
}
.index-about a {
	text-decoration: none;
	color: white;
}
.index-about a:hover {
	text-decoration: underline;
	color: white;
}
.index-about a:visited {
	text-decoration: none;
	color: white;
}



/*********************************
			Footer
*********************************/

#contact {
	color: white;
	background: black;
	margin-top: 75px;
}

#contact p {
	padding-bottom: 20px;
}
#contact i {
	padding: 20px 0px 10px;
}

.social {
	background-color: none;
}

.social i {
	padding: 40px 20px;
}


/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 576px) {


.index-item {
	height: 80vh;
	background-color: lightgrey;
	margin-bottom: 75px;
}
.carousel-caption {
    width:90%;
    height:50%;
    left:0 !important;
}
.carousel-caption h1 {
  text-align:left;
  margin-left:15px;
  text-transform: uppercase;
}
.carousel-caption p {
  text-align:left;
  margin-left:15px;
}

.carousel-baker {
	background:  
		linear-gradient(
			to right,
	      rgba(0,99,189, 0.9),
	      rgba(0,99,189, 0.8),
	      rgba(0,99,189, 0.7),
	      rgba(0,99,189, 0.4),
	      rgba(0,99,189, 0.1),
	      rgba(0,99,189, 0.0),
	      rgba(0,99,189, 0.0),
	      rgba(0,99,189, 0.0),
	      rgba(0,99,189, 0.0)
	    ),
		url(../assets/baker-facebook-cover.jpg);
	background-size: cover;
	background-position: bottom;
}
.carousel-golf {
	background:  
		linear-gradient(
			to right,
	      rgba(0,0,0, 0.9),
	      rgba(0,0,0, 0.8),
	      rgba(0,0,0, 0.7),
	      rgba(0,0,0, 0.4),
	      rgba(0,0,0, 0.3),
	      rgba(0,0,0, 0.1),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0)
	    ),
		url(../assets/baker-golf-hustlerturf-1600x600v2.jpg);
	background-size: cover;
	background-position: center;
}
.carousel-pro-turf {
	background-image: url(../assets/baker-proturf-smithco-homepage-2-1600x600.jpg);
	background-size: cover;
	background-position: center;
}
.carousel-commercial {
	background-image: url(../assets/baker-commercial-titanxd_vehicledetailpage_gallery1_1600x600.jpg);
	background-size: cover;
	background-position: right;
}
.carousel-snow-removal {
	background-image: url(../assets/baker-snow-12_ventrac_december_wallpaper_2017_1600x600.jpg);
	background-size: cover;
	background-position: right;
}

.carousel-rough-terrain {
	background-image: url(../assets/baker-rough-textron-atv_alterratbx700_marquee_1600x600.jpg);
	background-size: cover;
	background-position: right;
}

.carousel-green {
	background-image: url(../assets/baker-green-cushman-haulerpro_vehicledetailpage_gallery3_1600x600.jpg);
	background-size: cover;
	background-position: right;
}

/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 768px) {


	}

/***************************************************/
/* Medium Devices, Desktops */
/***************************************************/
 @media only screen and (min-width : 992px) {

 	}

 /***************************************************/
/* Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1200px) {

.index-item {
	height: 80vh;
	background-color: lightgrey;
	margin-bottom: 75px;
}
.carousel-caption {
    width:50%;
    height:60%;
    left:0 !important;
}
.carousel-caption h1 {
  text-align:left;
  margin-left:30px;
  font-size: 3.5em;
  text-transform: uppercase;
}
.carousel-caption p {
  text-align:left;
  margin-left:30px;
}

.carousel-baker {
	background:  
		linear-gradient(
			to right,
	      rgba(0,99,189, 0.9),
	      rgba(0,99,189, 0.8),
	      rgba(0,99,189, 0.7),
	      rgba(0,99,189, 0.4),
	      rgba(0,99,189, 0.1),
	      rgba(0,99,189, 0.0),
	      rgba(0,99,189, 0.0),
	      rgba(0,99,189, 0.0),
	      rgba(0,99,189, 0.0)
	    ),
		url(../assets/baker-facebook-cover.jpg);
	background-size: cover;
	background-position: center;
}
.carousel-golf {
	background:  
		linear-gradient(
			to right,
	      rgba(0,0,0, 0.9),
	      rgba(0,0,0, 0.8),
	      rgba(0,0,0, 0.7),
	      rgba(0,0,0, 0.4),
	      rgba(0,0,0, 0.3),
	      rgba(0,0,0, 0.1),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0),
	      rgba(0,0,0, 0.0)
	    ),
		url(../assets/baker-golf-hustlerturf-1600x600v2.jpg);
	background-size: cover;
	background-position: center;
}
.carousel-pro-turf {
	background-image: url(../assets/baker-proturf-smithco-homepage-2-1600x600.jpg);
	background-size: cover;
	background-position: center;
}
.carousel-commercial {
	background-image: url(../assets/baker-commercial-titanxd_vehicledetailpage_gallery1_1600x600.jpg);
	background-size: cover;
	background-position: right;
}
.carousel-snow-removal {
	background-image: url(../assets/baker-snow-12_ventrac_december_wallpaper_2017_1600x600.jpg);
	background-size: cover;
	background-position: right;
}

.carousel-rough-terrain {
	background-image: url(../assets/baker-rough-textron-atv_alterratbx700_marquee_1600x600.jpg);
	background-size: cover;
	background-position: right;
}

.carousel-green {
	background-image: url(../assets/baker-green-cushman-haulerpro_vehicledetailpage_gallery3_1600x600.jpg);
	background-size: cover;
	background-position: right;
}


.index-about p {
	text-align: justify;
	padding-left: 30px;
	padding-right: 50px;
}


	}

/***************************************************/
/* X-Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1900px) {


	}
}









