
:root {
    --swagelok-blue: rgba(0, 77, 158, 1) 
}
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.report-hero {
    /* background-color: #004d9e; */
    color: white;
    min-height: 85vh;
    background:
        linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/customSolutions.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.report-hero span {
    color: white;
}

.center {
    margin: 0;
    position: absolute;
    top: 35%;
    width: 100%;
}

.dimension__container--title {
    grid-area: title;
    max-height: 3em;
    text-align: center;
    background: var(--swagelok-blue);
    color: white;
    margin-bottom: 5vh;
}
.dimension__overview {
    grid-area: dimension-sidebar;
}
.interview__wrapper {
    grid-area: dimension-interview-area;
    border-radius: 5px;
    margin: 10px;
}
.dimension__container {
    align-content: start;
    min-height: auto;
    margin: 10px;
    border: 1px solid var(--swagelok-blue);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas:
        "title"
        "dimension-sidebar"
        "dimension-interview-area";
}
.dimension__definition,
.dimension__global-statement {
    margin: 10px;
    text-align: justify;
}

.accordion__wrapper {
    border: 1px solid var(--swagelok-blue);
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.interview__group-title {
    color: white;
    background: var(--swagelok-blue);
    text-align: center;
}
.interview__group-title h4 {
    padding: 10px;
    margin: 0px;
}
.interview__extreme {
    margin: 10px;
}
.interview__qal-wrapper {
    margin: 10px;
    padding: 10px;
    background: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.interview__group__button {
    width: 100%;
    border: none;
}
.interview__group__button:focus {
    outline: none;
}

.interview-hide {
    display:none!important;
}
.interview-show {
    display:block!important;
}
.dimension__static-container-title {
    grid-area: title;
    text-align: center;
    color: white;
    background: var(--swagelok-blue);
}
.dimension__static-container {
    margin: 10px;
    border: 1px solid var(--swagelok-blue);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-template-areas:
        "title"
        "derailer"
        "derailer"
        "derailer"
        "derailer";
}


#instructions__hero {
    color: white;
    min-height: 25vh;
    background:
        linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/TubeFittingInstallTrainBanner3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}


.instructions {
    text-align: justify;
    grid-area: title;
}
.instructions__title {
    text-align: center;
    background: var(--swagelok-blue);
    color: white;
    padding: 10px 0px 10px 0px;
    margin: 0px;
    border-radius: 5px 5px 0 0;
}.intro {
    text-align: center;
}
.instructions__before {
    border: 1px solid var(--swagelok-blue);
    border-radius: 5px;
    grid-area: before-interview;
}

.instructions__after {
    border: 1px solid var(--swagelok-blue);
    border-radius: 5px;
    grid-area: after-interview;
}
.instructions__before p,
.instructions__after p {
    margin: 20px;
}

.instructions__overview {
    margin: 5vh 5vw;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas:
        "title"
        "before-interview"
        "after-interview";
    grid-gap: 20px;
    gap: 20px;
}

.big-five {
    list-style-type: none;
}
.big-five span {
    font-weight: bolder;
}
#summary {
    display: none;
    
}






/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 576px) {
    .dimension__container {
        min-height: 75vh;
        margin: 5vh 5vw;
        border: 1px solid var(--swagelok-blue);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2;
        grid-template-areas:
            "title title"
            "dimension-sidebar dimension-interview-area";
    }

    .dimension__definition,
    .dimension__global-statement {
        margin: 10px 25px;
        text-align: justify;
    }
    .accordion__wrapper {
        border: 1px solid var(--swagelok-blue);
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    .interview__qal-wrapper {
        margin: 20px;
        padding: 10px;
        background: whitesmoke;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    .dimension__static-container {
        margin: 5vh 5vw;
        border: 1px solid var(--swagelok-blue);
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2;
        grid-template-areas:
            "title title title title"
            "derailer derailer derailer derailer";
    }

    #summary {
        display: block;
        border: 1px solid var(--swagelok-blue);
        border-radius: 5px;
        margin: 5vh 5vw;
        padding-bottom: 20px;
    }
    .summary__title {
        padding: 10px 0px;
        margin: 0px 0px 20px 0px;
        text-align: center;
        background: var(--swagelok-blue);
        color: white;
        border-radius: 5px 5px 0px 0px;
    }
    .summary__gauges {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: repeat(4, auto); */
        grid-auto-rows: 1fr;
        grid-gap: 20px;
        gap: 20px;
        justify-content: space-evenly;
        align-items: center;
        place-items: center;
    }
    .summary__gauge {
        max-width: 250px;
        /* justify-self: center; */
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .summary__gauge--title {
        padding: 10px 0px 10px 0px;
        margin: 0;
        text-align: center;
        background: var(--swagelok-blue);
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .instructions__overview {
        margin: 5vh 5vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
        grid-template-areas:
            "title title"
            "before-interview after-interview";
        grid-gap: 20px;
        gap: 20px;
    }
    

    
}
/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 768px) {
    
}

/***************************************************/
/* Medium Devices, Desktops */
/***************************************************/
@media only screen and (min-width : 992px) {
    
}



/***************************************************/
/* Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1200px) {

    
}
/***************************************************/
/* X-Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1900px) {
    
}

/***************************************************/
/* Print */
/***************************************************/
@media print {
    
    .dimension__container,
    .dimension__static-container,
    #summary,
    #instructions__hero {
        min-height: auto;
        page-break-before: always;
    }
    

    .accordion__wrapper {
        display: table;
        page-break-inside: avoid;
    }
    .dimension__static-container {
        margin: 10px;
        border: 1px solid var(--swagelok-blue);
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 2;
        grid-template-areas:
            "title title title title"
            "derailer derailer derailer derailer";
    }
    .gauge {
        max-width: 250px;
    }

    #summary {
        display: block;
        border: 1px solid var(--swagelok-blue);
        border-radius: 5px;
        margin: 10px;
        padding-bottom: 20px;
    }

    .summary__title {
        padding: 10px 0px;
        margin: 0px 0px 20px 0px;
        text-align: center;
        background: var(--swagelok-blue);
        color: white;
        border-radius: 5px 5px 0px 0px;
    }
    .summary__gauges {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: repeat(4, auto); */
        grid-auto-rows: 1fr;
        grid-gap: 20px;
        gap: 20px;
        justify-content: space-evenly;
        align-items: center;
        place-items: center;
    }
    .summary__gauge {
        max-width: 250px;
        /* justify-self: center; */
        border: 1px solid black;
        
    }
    .summary__gauge--title {
        padding: 10px 0px 10px 0px;
        margin: 0;
        text-align: center;
        background: var(--swagelok-blue);
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    #instructions__hero {
        display: none;
    }
    .instructions {
        grid-area: title;
    }
    .instructions__before {
        grid-area: before-interview;
    }
    .instructions__after {
        grid-area: after-interview;
    }
    .instructions__overview {
        margin: 5vh 5vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
        grid-template-areas:
            "title title"
            "before-interview after-interview";
        grid-gap: 20px;
        gap: 20px;
    }
    
}


