
:root {
    --swagelok-blue: rgba(0, 77, 158, 1) 
}
body {
    font-family: 'Roboto', sans-serif;
}
.report-hero {
    /* background-color: #004d9e; */
    color: white;
    min-height: 85vh;
    background:
        linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/customSolutions.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.center {
    margin: 0;
    position: absolute;
    top: 40%;
    width: 100%;
}

#arise,
#alignment,
#derailers,
#technical {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}
.dimension {
    flex: 0 0 80%;
    padding: 1vw;
    margin: 5vh 2.5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    scroll-snap-align: center;
}
.interview__questions:first-of-type,
.dimension:first-of-type {
    margin-left:7.5vw;
}
.interview__questions:last-of-type,
.dimension:last-of-type {
    margin-right: 2.5vw;
    border-right: 1px solid red;
}

/* #arise,
#alignment,
#derailers,
#technical,
#interview {
    border: 3px solid var(--swagelok-blue);
    border-radius: 10px;
    margin: 10vh auto; 
} */

/* .dimension, */
/* .interview__dimension {
    margin: 10vh auto;
    border-bottom: 1px solid black;
} */
/* .dimension:last-of-type, */
.interview__dimension:last-of-type {
    border-bottom: none;
}
.dimension__definition {
    text-align: justify;
    padding: 2.5vw;
}
.dimension__global-statement {
    text-align: justify;
    padding: 2.5vw;
}

#interview__hero-image {
    color: white;
    min-height: 45vh;
    background:
        linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/pexels-photo-218863.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

#interview {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
    /* margin-right: 5vw; */
}

.interview__dimension {
    flex: 0 0 auto;
    padding: 1vw;
    /* margin: 5vh 2.5vw; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    scroll-snap-align: center;
    display: flex;
    /* border: 1px solid blue; */
    overflow-x: auto;
}
.interview__questions {
    flex: 0 0 80%;
    padding: 1vw;
    margin: 5vh 2.5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* scroll-snap-align: center; */

    display: flex;
    flex-direction: column;
}
.interview__title,
.interview__extreme-kickouts,
.interview__question,
.interview__listen-for {
    text-align: justify;
    padding: 2.5vw;
}
.interview__title {
    text-align: center;
}



/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 576px) {
    .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    

/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 768px) {
    
}

/***************************************************/
/* Medium Devices, Desktops */
/***************************************************/
@media only screen and (min-width : 992px) {
    
}

/***************************************************/
/* Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1200px) {

    #arise,
    /* #alignment, */
    #derailers,
    #technical {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin-right: 5vw;
    }
    .dimension {
        flex: 0 0 30%;
        padding: 1vw;
        margin: 5vh 2.5vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        scroll-snap-align: center;
    }
    #interview {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        margin-right: 5vw;
    }
    
    .interview__dimension {
        flex: 0 0 auto;
        padding: 1vw;
        /* margin: 5vh 2.5vw; */
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
        scroll-snap-align: center;
        display: flex;
        /* border: 1px solid blue; */
        overflow-x: auto;
    }
    .interview__questions {
        flex: 0 0 30%;
        padding: 1vw;
        margin: 2.5vh 2.5vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        scroll-snap-align: center;

        display: flex;
        flex-direction: column;
    }
    
        /*
    #alignment .dimension {
        display: flex;
        flex-wrap: nowrap;
        background: blue;
        min-width: 90vw;
    }
    #alignment .dimension .dimension__gauge {
        flex-grow: 3;
        border: 1px solid red;
    }
    #alignment .dimension .dimension__definition {
        flex-grow: 1;
    } */

    /* .dimension:first-of-type {
        margin-left: 5vw;
    }
    .dimension:last-of-type {
        margin-right: 2.5vw;
        border-right: 1px solid red;
    }
    .dimension__definition {
        text-align: justify;
        padding: 2.5vw;
    }
    .dimension__global-statement {
        text-align: justify;
        padding: 0 2.5vw 5vw 2.5vw;
    } */
    
}
/***************************************************/
/* X-Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1900px) {
    
    }
}

