
:root {
    --swagelok-blue: rgba(0, 77, 158, 1);
    --theme-main: var(--swagelok-blue); 
    /* --theme-main: rgba(75, 80, 90, 1);  */
}
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    -webkit-print-color-adjust: exact;
            color-adjust: exact;
}

.navbar-collapse {
    max-height: 100%!important;
}
.navbar-brand img {
    width: 125px;
    height: auto;
}
a.navbar-brand {
    padding-top: 10px;
}

.report-hero {
    color: white;
    min-height: 85vh;
    background:
        -webkit-gradient(
            linear,
            left top, left bottom,
            from(rgba(0, 77, 158, 0.80)),
            to(rgba(0, 77, 158, 0.80))
        ),
        url(../img/customSolutions.gif);
    background:
        -webkit-linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/customSolutions.gif);
    background:
        -o-linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/customSolutions.gif);
    background:
        linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/customSolutions.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.report-hero span {
    color: white;
}

.center {
    margin: 0;
    position: absolute;
    top: 35%;
    width: 100%;
}

.print__cover {
    display: none;
}

#summary {
    display: none;
}

.dimension__container {
    -ms-flex-line-pack: start;
        align-content: start;
    min-height: auto;
    margin: 10px;
    border: 1px solid rgba(75, 80, 90, 1);
    border-radius: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
    grid-template-columns: 1;
    -ms-grid-rows: 3;
    grid-template-rows: 3;
        grid-template-areas:
        "title"
        "dimension-sidebar"
        "dimension-interview-area";
}

.dimension__container--title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    max-height: 3em;
    text-align: center;
    background: rgba(75, 80, 90, 1);
    color: white;
    margin-bottom: 5vh;
}

.dimension__static-container > .dimension__container--title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.instructions__overview > .dimension__container--title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.dimension__overview {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: dimension-sidebar;
}
.interview__wrapper {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: dimension-interview-area;
    border-radius: 5px;
    margin: 10px;
}
.dimension__definition {
    margin: 10px;
    text-align: justify;
}

.accordion__wrapper {
    border: 1px solid rgba(75, 80, 90, 1);
    border-radius: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.interview__group-title {
    color: white;
    background: rgba(75, 80, 90, 1);
    text-align: center;
}
.interview__group-title h4 {
    padding: 10px;
    margin: 0px;
}
.interview__extreme {
    margin: 10px;
}

.dimension__global-statement,
.interview__qal-wrapper,
.dimension__high,
.dimension__low {
    margin: 10px;
    padding: 10px;
    background: whitesmoke;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.interview__group__button {
    width: 100%;
    border: none;
}
.interview__group__button:focus {
    outline: none;
}

.interview-hide {
    display:none!important;
}
.interview-show {
    display:block!important;
}

.dimension__static-container-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    text-align: center;
    color: white;
    background: rgba(75, 80, 90, 1);
    padding: 0px;
}

.dimension__static-container > .dimension__static-container-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.instructions__overview > .dimension__static-container-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.dimension__static-container-title h4 {
    padding: 5px;
    margin: 5px auto;
}
.dimension__static-container {
    margin: 10px;
    border: 1px solid rgba(75, 80, 90, 1);
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas:
        "title"
        "static-gauge"
        "general"
        "high"
        "low";
}
.gauge2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: static-gauge;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
}

.dimension__general {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: general;
    text-align: justify;
    margin: 10px;
}
.dimension__high {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: high;
    text-align: justify;
}
.dimension__low {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: low;
    text-align: justify;
}    

#instructions__hero {
    color: white;
    min-height: 25vh;
    background:
        -webkit-gradient(
            linear,
            left top, left bottom,
            from(rgba(0, 77, 158, 0.80)),
            to(rgba(0, 77, 158, 0.80))
        ),
        url(../img/TubeFittingInstallTrainBanner3.gif);
    background:
        -webkit-linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/TubeFittingInstallTrainBanner3.gif);
    background:
        -o-linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/TubeFittingInstallTrainBanner3.gif);
    background:
        linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/TubeFittingInstallTrainBanner3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}

.instructions {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    text-align: justify;
    grid-area: title;
}

.dimension__static-container > .instructions {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.instructions__overview > .instructions {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.instructions__title {
    text-align: center;
    background: rgba(75, 80, 90, 1);
    color: white;
    padding: 10px 0px 10px 0px;
    margin: 0px;
    border-radius: 5px 5px 0 0;
}

.instructions__intro {
    text-align: center;
}
.instructions__before {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    border: 1px solid rgba(75, 80, 90, 1);
    border-radius: 5px;
    grid-area: before-interview;
}

.instructions__after {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    border: 1px solid rgba(75, 80, 90, 1);
    border-radius: 5px;
    grid-area: after-interview;
}
.instructions__before p,
.instructions__after p {
    margin: 20px;
}

.instructions__overview {
    margin: 5vh 5vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
    grid-template-columns: 1;
    -ms-grid-rows: 3;
    grid-template-rows: 3;
        grid-template-areas:
        "title"
        "before-interview"
        "after-interview";
    grid-gap: 20px;
    gap: 20px;
}

.instructions__big-five {
    list-style-type: none;
}
.instructions__big-five span {
    font-weight: bolder;
}

.copyright {
    text-align: center;
    margin: 10px;
    padding: 10px;
}







/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 576px) {

    #summary {
        display: block;
        border: 1px solid rgba(75, 80, 90, 1);
        border-radius: 5px;
        margin: 5vh 2.5vw;
        padding-bottom: 20px;
    }
    .summary__title {
        padding: 10px 0px;
        margin: 0px 0px 20px 0px;
        text-align: center;
        background: rgba(75, 80, 90, 1);
        color: white;
        border-radius: 5px 5px 0px 0px;
    }
    .summary__gauges--bigFive {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: repeat(5, 1fr);
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        /* grid-auto-rows: 1fr; */
        grid-gap: 20px;
        gap: 20px;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        padding: 20px;
    }
    .summary__gauges--bigFive > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .summary__gauges--bigFive > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .summary__gauges--bigFive > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .summary__gauges--bigFive > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }
    .summary__gauges--bigFive > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }
    .summary__gauges {
        max-width: 1500px;
        margin: 10px auto;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: repeat(8, 1fr);
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-auto-rows: 1fr;
        grid-gap: 20px;
        gap: 20px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 20px;
    }
    .summary__gauges > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .summary__gauges > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .summary__gauges > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .summary__gauges > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }
    .summary__gauges > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }
    .summary__gauges > *:nth-child(6) {
        -ms-grid-row: 1;
        -ms-grid-column: 11;
    }
    .summary__gauges > *:nth-child(7) {
        -ms-grid-row: 1;
        -ms-grid-column: 13;
    }
    .summary__gauges > *:nth-child(8) {
        -ms-grid-row: 1;
        -ms-grid-column: 15;
    }
    .summary__gauge {
        /* max-width: 250px; */
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .summary__gauge--title {
        width: auto;
        padding: 10px 0px 10px 0px;
        margin: 0;
        text-align: center;
        background: rgba(75, 80, 90, 1);
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }


    .dimension__container {
        margin: 5vh 2.5vw;
        border: 1px solid rgba(75, 80, 90, 1);
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
        -ms-grid-rows: 2;
        grid-template-rows: 2;
            grid-template-areas:
            "title title"
            "dimension-sidebar dimension-interview-area";
    }

    .dimension__definition,
    .dimension__global-statement {
        margin: 10px 25px;
        text-align: justify;
    }
    .accordion__wrapper {
        border: 1px solid rgba(75, 80, 90, 1);
        border-radius: 5px;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    .interview__qal-wrapper {
        margin: 20px;
        padding: 10px;
        background: whitesmoke;
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }


    .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: title;
        text-align: center;
        color: white;
        background: rgba(75, 80, 90, 1);
    }


    .dimension__static-container > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }


    .instructions__overview > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .dimension__static-container {
        margin: 5vh 2.5vw;
        border: 1px solid rgba(75, 80, 90, 1);
        border-radius: 5px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
            grid-template-areas:
            "title title"
            "static-gauge general"
            "static-gauge high"
            "static-gauge low";
    }

    .dimension__general {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: general;
        margin: 10px 25px 0px 0px;
    }
    .dimension__high {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        grid-area: high;
        margin-right: 25px;
    }
    .dimension__low {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        grid-area: low;
        margin-right: 25px;
    }    

    .gauge2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: static-gauge;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        -ms-grid-column-align: center;
            justify-self: center;
    }

    .instructions__overview {
        margin: 5vh 5vw;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 2;
        grid-template-rows: 2;
            grid-template-areas:
            "title title"
            "before-interview after-interview";
        grid-gap: 20px;
        gap: 20px;
    }


    .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .dimension__static-container > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .instructions__overview > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }


    .dimension__overview {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }


    .interview__wrapper {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }


    .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .dimension__static-container > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .instructions__overview > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .gauge2 {
        -ms-grid-row: 2;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }

    .dimension__general {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .dimension__high {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .dimension__low {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }


    .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .dimension__static-container > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .instructions__overview > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .instructions__before {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .instructions__after {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }


    
}
/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 768px) {
    
    #summary {
        display: block;
        border: 1px solid rgba(75, 80, 90, 1);
        border-radius: 5px;
        margin: 5vh 1vw;
        padding-bottom: 20px;
    }
    .summary__gauges--bigFive {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: repeat(5, 1fr);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        gap: 20px;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        padding: 10px;
    }
    .summary__gauges--bigFive > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .summary__gauges--bigFive > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .summary__gauges--bigFive > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .summary__gauges--bigFive > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }
    .summary__gauges--bigFive > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }
    .summary__gauges {
        margin: 10px auto;
        display: -ms-grid;
        display: grid;
        grid-gap: 10px;
        gap: 10px;
        padding: 10px;
    }

    .dimension__container {
        margin: 5vh 1vw;
    }

    .dimension__static-container {
        margin: 5vh 1vw;
    }
    
}

/***************************************************/
/* Medium Devices, Desktops */
/***************************************************/
@media only screen and (min-width : 992px) {

    #summary {
        display: block;
        border: 1px solid rgba(75, 80, 90, 1);
        border-radius: 5px;
        margin: 5vh 1vw;
        padding-bottom: 20px;
    }
    .summary__gauges--bigFive {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: repeat(5, 1fr);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        gap: 20px;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        /* align-items: center; */
        padding: 10px;
    }
    .summary__gauges--bigFive > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .summary__gauges--bigFive > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .summary__gauges--bigFive > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .summary__gauges--bigFive > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }
    .summary__gauges--bigFive > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }
    .summary__gauges {
        margin: 10px auto;
        display: -ms-grid;
        display: grid;
        grid-gap: 20px;
        gap: 20px;
        padding: 10px;
    }

    .dimension__container {
        margin: 5vh 1vw;
    }

    .dimension__static-container {
        margin: 5vh 1vw;
    }
}



/***************************************************/
/* Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1200px) {

    #summary {
        margin: 5vh 5vw;
        padding-bottom: 20px;
    }
    .summary__gauges--bigFive {
        grid-gap: 20px;
        gap: 20px;
    }
    .summary__gauges {
        margin: 10px auto;
        display: -ms-grid;
        display: grid;
        grid-gap: 20px;
        gap: 20px;
        padding: 10px;
    }

    .dimension__container {
        margin: 5vh 5vw;
    }

    .dimension__static-container {
        margin: 5vh 5vw;
    }
}
/***************************************************/
/* X-Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1900px) {

    /* Center Align Menu in BS Navigation */
    .nav.navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    #summary {
        display: block;
        border: 1px solid rgba(75, 80, 90, 1);
        border-radius: 5px;
        margin: 5vh 10vw;
        padding-bottom: 20px;
    }
    .dimension__container {
        margin: 5vh 10vw;
    }

    .dimension__static-container {
        margin: 5vh 10vw;
    }
}



@media only screen and (min-width: 768px) and (max-width: 1390px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        max-height: 100%!important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
		margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/***************************************************/
/* Print */
/***************************************************/
@media print {
    @page{
        size: letter;

    }
    @page:left{
        @bottom-center {
            margin: 10pt 0 30pt 0;
            border-top: .25pt solid #000000;
            content: "Watterson & Associates";
            font-size: 9pt;
            color: #000000;
        }
    }
    html, body {
        line-height: 1em;
        word-spacing: 1px;
        padding: 0px;
    }
    #dimension__agility,
    #dimension__resilience,
    #dimension__intentional,
    #dimension__self-starting,
    #dimension__engaging,
    #dimension__role-and-technical,
    #dimension__derailers2,
    #instructions__hero {
        page-break-before: always;
        -webkit-column-break-before: page;
                break-before: page;
    }

    #summary {
        display: block;
        border: 1px solid black;
        border-radius: 5px;
        padding-bottom: 20px;
        page-break-before: always;
        -webkit-column-break-before: page;
                break-before: page;
    }
    #summary__agility,
    #summary__resilience,
    #summary__intentional,
    #summary__self-starting,
    #summary__engaging,
    #summary__math,
    #summary__verbal,
    #summary__reasoning {
        margin: 1px auto;
    }

    .summary__gauge {
        max-width: 250px;
        height: auto;
        -webkit-box-shadow: none;
                box-shadow: none;
        border: 1px solid black;
        border-radius: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .summary__title {
        padding: 10px 0px;
        margin: 0px 0px 20px 0px;
        text-align: center;
        background: rgba(75, 80, 90, 1);
        color: white;
        border-radius: 5px 5px 0px 0px;
    }
    .summary__gauges--bigFive {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 2;
        grid-template-rows: 2;
        grid-gap: 10px;
        gap: 10px;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* place-items: center; */
        padding: 10px;
    }
    .summary__gauges--bigFive > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .summary__gauges--bigFive > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .summary__gauges--bigFive > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .summary__gauges {
        /* max-width: 1500px; */
        margin: 10px auto;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
        grid-template-columns: repeat(4, 1fr);
        -ms-grid-rows: 2;
        grid-template-rows: 2;
        grid-gap: 10px;
        gap: 10px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 10px;
    }
    .summary__gauges > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .summary__gauges > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .summary__gauges > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .summary__gauges > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }

    .summary__gauge--title {
        padding: 10px 0px 10px 0px;
        margin: 0;
        text-align: center;
        background: rgba(75, 80, 90, 1);
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .dimension__gauge {
        grid-area: gauge;
        max-width: auto;
        height: auto;
        -ms-grid-column-align: center;
            justify-self: center;
        border: 1px solid red;
        margin: 0px;
        padding: 0px;
    }
    .dimension__definition {
        grid-area: definition;
        margin: 5px;
        padding: 0 10px 0 0;
    }
    .dimension__global-statement {
        grid-area: global;
        margin: 5px;
        padding: 0 10px 0 0;
    }
    .dimension__overview {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: dimension-sidebar;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: auto;
        grid-template-rows: auto;
            grid-template-areas:
            "gauge definition definition"
            "gauge global global";
        grid-gap: 5px;
        gap: 5px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        place-items: center;
    }
    .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: title;
        max-height: 3em;
        text-align: center;
        background: rgba(75, 80, 90, 1);
        color: white;
        margin-bottom: 5px;
    }
    .dimension__static-container > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .instructions__overview > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .dimension__container {
        min-height: auto;
        margin: 10px;
        border: 1px solid black;
        border-radius: 5px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1;
        grid-template-columns: 1;
        -ms-grid-rows: 3;
        grid-template-rows: 3;
            grid-template-areas:
            "title"
            "dimension-sidebar"
            "dimension-interview-area";
    }
    .accordion__wrapper {
        display: table;
        page-break-inside: avoid;
        border: 1px solid black;

    }
    .dimension__global-statement,
    .interview__qal-wrapper,
    .dimension__high,
    .dimension__low {
        margin: 5px;
        padding: 2.5px 10px;
        background: whitesmoke;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .interview__extreme {
        margin: 5px;
    }
    .interview__question,
    .interview__listen-for {
        margin: 5px auto;
    }
    .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: title;
        text-align: center;
        color: white;
        background: rgba(75, 80, 90, 1);

    }
    .dimension__static-container > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;

    }
    .instructions__overview > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;

    }
    .dimension__static-container {
        margin: 10px auto;
        border: 1px solid black;
        -webkit-box-shadow: none;
                box-shadow: none;
        border-radius: 5px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
            grid-template-areas:
            "title title"
            "general general"
            "static-gauge high"
            "static-gauge low";
        page-break-inside: avoid;
    }
    
    .gauge2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-area: static-gauge;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        -ms-grid-column-align: center;
            justify-self: center;
    }
    .dimension__general {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: general;
        margin: 5px 10px;
    }
    .dimension__high {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        grid-area: high;
        margin: 0px;
        padding: 5px;
    }
    .dimension__low {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        grid-area: low;
        margin: 0px;
        padding: 5px;
    }   

    
    .technical {
        border: 1px solid black;
    }
    .gauge {
        max-width: 250px;
    }
    #instructions__hero {
        display: block;
        min-height: auto;
    }
    #instructions__hero h1 {
        text-align: center;
    }
    .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: title;
    }
    .dimension__static-container > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .instructions__overview > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .instructions__before {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: before-interview;
        border: 1px solid black;
    }
    .instructions__after {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        grid-area: after-interview;
        border: 1px solid black;
    }
    .instructions__overview {
        margin: 10px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 2;
        grid-template-rows: 2;
            grid-template-areas:
            "title title"
            "before-interview after-interview";
        grid-gap: 20px;
        gap: 20px;
    }
    .jumbotron.report-hero {
        display: none;
    }
    .print__cover {
        display: block;
        height: 100vh;
        width: 100vw;
        border: 1px solid #000000;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1;
        grid-template-columns: 1;
        -ms-grid-rows: 250px auto 200px;
        grid-template-rows: 250px auto 200px;
            grid-template-areas:
            "title"
            "main"
            "footer";
            margin: 0px;
            line-height: 1.25;
    }
    .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: title;
    }
    .dimension__static-container > .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .instructions__overview > .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .print__cover--main {
        grid-area: main;
    }
    .print__cover--footer {
        grid-area: footer;
        text-align: left;
        padding: 20px;
    }
    .print__cover--footer p {
        font-size: 9px;
        margin: 10px auto;
    }
    .print__cover--logo {
        height: 50px;
        width: auto;
    }
    .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__static-container > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .instructions__overview > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .print__cover > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__overview {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .interview__wrapper {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__static-container > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .instructions__overview > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .print__cover > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .gauge2 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
    }
    .dimension__general {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .dimension__high {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .dimension__low {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
    .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__static-container > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .instructions__overview > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .print__cover > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .instructions__before {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .instructions__after {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__static-container > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .instructions__overview > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .print__cover > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__general {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .dimension__high {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .dimension__low {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
    .gauge2 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
    }
    
}
@media print {
    .dimension__gauge {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }
    .dimension__definition {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }
    .dimension__global-statement {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }
}
@media only screen and (min-width : 576px) {


    .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .dimension__static-container > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .instructions__overview > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .dimension__general {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .dimension__high {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .dimension__low {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }

    .gauge2 {
        -ms-grid-row: 2;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }


    .dimension__overview {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }


    .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .dimension__static-container > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .instructions__overview > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }


    .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .dimension__static-container > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .instructions__overview > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .gauge2 {
        -ms-grid-row: 2;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }

    .dimension__general {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .dimension__high {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .dimension__low {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }


    .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .dimension__static-container > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .instructions__overview > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .instructions__before {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .instructions__after {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }


    .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .dimension__static-container > .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .instructions__overview > .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}
@media print {
    .dimension__overview {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__static-container > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .instructions__overview > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .print__cover > .dimension__container--title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__static-container > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .instructions__overview > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .print__cover > .dimension__static-container-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .gauge2 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
    }
    .dimension__general {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .dimension__high {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .dimension__low {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
    .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__static-container > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .instructions__overview > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .print__cover > .instructions {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .instructions__before {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .instructions__after {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .dimension__static-container > .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .instructions__overview > .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .print__cover > .print__cover--header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .print__cover--main {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .print__cover--footer {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}