:root {
    --swagelok-blue: rgba(0, 77, 158, 1);
    --theme-main: var(--swagelok-blue); 
    /* --theme-main: rgba(75, 80, 90, 1);  */
}
body {
    font-family: 'Roboto', sans-serif; 
}
nav {
    background: var(--theme-main);
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 0px;
}
nav ul {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 10px;
}
nav li {
    text-decoration: none;
    list-style-type: none;
    margin-right: 15px;
}
nav li a,
nav li a:visited {
    color: #ffffff;
}
nav li a:hover {
    text-decoration: underline;
}
li.navbar-wai-logo {
    margin-left: 15px;
    margin-right: auto;
}
.navbar-wai-logo img {
    height: 30px;
    width: auto;
}
.intro-hero {
    color: #ffffff;
    height: calc(100vh - 50px);
    background:
        linear-gradient(
            rgba(0, 77, 158, 0.80),
            rgba(0, 77, 158, 0.80)
        ),
        url(../img/customSolutions.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.intro-hero span {
    color: #ffffff;
}
.intro {
    text-align: justify;
    text-align-last: center;
}
.center {
    margin: 0;
    position: absolute;
    top: 35%;
    width: 100%;
}
.jumbotron {
    padding-bottom: 0;
}
.features {
    margin: 20px;
}
.feature:nth-of-type(2) {
    margin: 25px auto;
}
.mobile-friendly {
    padding-top: 20px;
    padding-bottom: 0px;
}

/* Mobile screens view 1 */

/* .mobile {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background: whitesmoke;
    padding: 0 7.5vw;
    height: 45vh;
    overflow: hidden;
}
.mobile__hero-image {
    margin-top: -100px;
    margin-bottom: -150px;
}
.mobile__hero-image img {
    border: 1px solid red;
    width: 100%;
    height: auto;
} */

/* Mobile screens view 2 */

.mobile__hero--wrapper {
    height: 75vh;
    margin: 0px;
    background-image: url(../img/arise_mobile_screens_hero_clear_2.png);
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}

.details {
    margin: 50px auto;
}
.dimensions__secondary {
    margin-top: 30px;
}
.cta {
    margin-top: 50px;
}
#order-form,
#request-info-form {
    margin-top: 25px;
}
.info-form--hidden,
.order-form--hidden {
    display: none;
}
.info-form--show,
.order-form--show {
    display: block;
}
/* .client-portal__hero img {
    padding: 25px 15vw 0px;
} */
.client-portal {
    background: whitesmoke;
    /* padding-bottom: 10vh; */
    margin: 10vh auto;
}
.client-portal h1 {
    margin: 50px auto;
    text-align: center;
    font-size: 5rem;
}
.client-portal--hero img {
    padding: 0px 20px;
}
/* .client-portal li {
    list-style-type: none;
} */
footer {
    color: white;
    background: var(--theme-main);
    margin: 0px;
    padding: 20px 20px 10px 20px;
}

footer a,
footer a:hover,
footer a:visited {
    color: white;
}
footer p {
    font-size: 1.65rem;
    margin: 5px;
}
.footer__company img {
    display: block;
    margin: 10px auto;
}

.footer__contact {
    padding: 10px;
}
.footer__contact p,
.footer__contact i {
    text-align: center;
}
.footer__contact i:first-of-type {
    margin-right: 5px;
}
.footer__contact i {
    font-size: 2rem;
}
.privacy {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.privacy p {
    font-size: 1.25rem;

}


/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 576px) {

    .mobile__hero--wrapper {
        height: 25vh;
        /* border: 1px solid red; */
        background-image: url(../img/arise_mobile_screens_hero_clear_2.png);
        background-size: 120%;
        background-position: top;
        background-repeat: no-repeat;
        margin: 0px;
        background-color: whitesmoke;
    }

    .features {
        margin: 50px 0px;
    }
    .feature:nth-of-type(2) {
        margin: auto;
    }
    
}

/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 768px) {
    .footer__company img {
            display: block;
            margin: 25px 50px;
    }
        
}

/***************************************************/
/* Medium Devices, Desktops */
/***************************************************/
@media only screen and (min-width : 992px) {
    .intro-hero {
        color: #ffffff;
        height: calc(60vh - 50px);
        background:
            linear-gradient(
                rgba(0, 77, 158, 0.80),
                rgba(0, 77, 158, 0.80)
            ),
            url(../img/customSolutions.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .mobile__hero--wrapper {
        min-height: 50vh;
        margin: 0px;
        background-image: url(../img/arise_mobile_screens_hero_clear_2.png);
        background-size: 120%;
        background-position: top;
        background-repeat: no-repeat;
        background-color: whitesmoke;
    }
    footer {
        color: white;
        background: var(--theme-main);
        margin: 0px;
        padding: 20px 20px 10px 20px;
    }
    
    footer a,
    footer a:hover,
    footer a:visited {
        color: white;
    }
    footer p {
        font-size: 1.65rem;
        margin: 5px;
    }
    .footer__company {
        padding: 20px 0px 0px 100px;
    }
    .footer__company img {
        display: block;
        margin: 10px;
    }
    .footer__company p {
        font-size: 1.25rem;
        padding: 10px 0px;;
    }
    .footer__contact {
        padding-right: 100px;
    }
    .footer__contact p,
    .footer__contact i {
        text-align: right;
    }
    .footer__contact i:first-of-type {
        margin-right: 5px;
    }
    .footer__contact i {
        font-size: 2rem;
    }
    .privacy {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    .privacy p {
        font-size: 1.25rem;
    
    }
}

/***************************************************/
/* Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1200px) {

    .intro-hero {
        color: #ffffff;
        height: calc(80vh - 50px);
        background:
            linear-gradient(
                rgba(0, 77, 158, 0.80),
                rgba(0, 77, 158, 0.80)
            ),
            url(../img/customSolutions.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .mobile__hero--wrapper {
        height: 50vh;
        margin: 0px;
        background-image: url(../img/arise_mobile_screens_hero_clear_2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: whitesmoke;
    }
    .dimensions__secondary {
        margin-top: auto;
    }
}

/***************************************************/
/* X-Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1900px) {
    .intro-hero {
        color: #ffffff;
        height: calc(75vh - 50px);
        background:
            linear-gradient(
                rgba(0, 77, 158, 0.80),
                rgba(0, 77, 158, 0.80)
            ),
            url(../img/customSolutions.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .mobile__hero--wrapper {
        min-height: 50vh;
        margin: 0px;
        background-image: url(../img/arise_mobile_screens_hero_clear_2.png);
        background-size: 75%;
        background-position: top;
        background-repeat: no-repeat;
        background-color: whitesmoke;
    }
    .intro__hero img {
        padding: 25px 7.5vw 0px;
    }
}

