:root {
    --swagelok-blue: rgba(0, 77, 158, 1);
    --theme-main: var(--swagelok-blue); 
    /* --theme-main: rgba(75, 80, 90, 1);  */
}
.intro__hero {
    color: white;
    background: var(--theme-main);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.jumbotron {
    padding-bottom: 0;
}
.features {
    /* border: 1px solid red; */
    /* padding: 100px auto; */
    margin: 50px;
}
.mobile-friendly {
    padding: 20px;
}
.mobile {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background: whitesmoke;
    padding: 0 5vw;
}
.mobile__hero-image {
    margin-top: -200px;
    margin-bottom: -150px;
}