
:root {
    --wai-background-orange: rgba(190, 117, 51, 1);
    --theme-main: var(--wai-background-orange); 
    /* --theme-main: rgba(75, 80, 90, 1);  */
}
body {
    font-family: 'Roboto', sans-serif; 
}
nav {
    background: var(--theme-main);
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 0px;
}
nav ul {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 10px;
}
nav li {
    text-decoration: none;
    list-style-type: none;
    margin-right: 15px;
}
nav li a,
nav li a:visited {
    color: #ffffff;
}
nav li a:hover {
    text-decoration: underline;
}
li.navbar-wai-logo {
    margin: 0px auto;
}
.navbar-wai-logo img {
    height: 50px;
    width: auto;
}
.login-area {
    min-height: calc(100vh - 130px);
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
        ),
        url(../img/pexels-photo-459562.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#TextBox_userid,
#TextBox_password {
    width: 80vw;
    margin: 10px auto;
    border: 1px solid grey;
}
#ImageButton1 {
    margin: auto;
    border: 1px solid grey;
}

.check-login,
.consent {
    width: 75vw;
    background: rgba(255, 255, 255, 1.0);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}
.check-login button,
.consent button {
    margin: 15px;
}
.consent a {
    margin: 20px auto;
}
.test-selection {
    width: 80vw;
    margin: 20px auto;
}
.test-list {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    gap: 25px;
    justify-content: center;
}

.test {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    /* padding: 0px 10px 10px 10px; */
    border: 1px solid #000000;
    border-radius: 5px;
    min-height: 100%;
}

.test h4 {
    flex: 1;
    color: #ffffff;
    background: #000000;
    /* padding: 10px 5px; */
    border: 1px solid #000000;
    border-end-end-radius: 5px;
    /* margin: 0px -10px 0px -10px; */
    
}
.test p {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 10px; */
}

.test a {
    width: 90%;
}





/* .test__name {
    grid-area: test-name;
    align-items: stretch;

    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin: -10px -10px 0px;
}
.test__desc {
    grid-area: test-description;
    padding: 5px 10px;
}
.test__link {
    grid-area: test-link;
    padding: 5px 10px;
}
.test {
    display: grid;
    grid-template-areas:
        "test-name"
        "test-description"
        "test-link";
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
} */


/* .test-list__wrapper {
    flex: 1;
    max-width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.test-list__wrapper > * {
    flex: 1;
}
.test-list__wrapper h4 {
    background: #000000;
    color: white;
    padding: 5px;
    margin: -10px -10px 10px -10px;
} */

footer {
    background: var(--theme-main);
    padding: 0px;
    border-top: 1px solid #000000;
    margin: 0px;
}
footer p {
    text-align: center;
    color: #ffffff;
    padding: 10px 50px;
    margin: 0px;

}
/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 576px) {
    li.navbar-wai-logo {
        margin-left: 15px;
        margin-right: auto;
    }
    .navbar-wai-logo img {
        height: 30px;
        width: auto;
    }
    .login-area {
        min-height: calc(100vh - 90px);
        background:
        linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
        ),
        url(../img/pexels-photo-459562.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .login {
        /* display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; */
    }
    #TextBox_userid,
    #TextBox_password {
        width: 25vw;
    }

    .check-login,
    .consent,
    .test-selection {
        width: 50vw;
    }
    .check-login button {
        margin: 20px;
    }
    


}

/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 768px) {

    .check-login,
    .consent,
    .test-selection {
        width: 75vw;  
    }
}

/***************************************************/
/* Medium Devices, Desktops */
/***************************************************/
@media only screen and (min-width : 992px) {

    .check-login,
    .consent,
    .test-selection {
        width: 50vw;
    }
    
}

/***************************************************/
/* Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1200px) {
    .consent {
        width: 65vw;
        padding: 20px;
    }
    .test-selection {
        width: 75vw;
        padding: 20px;
    }
}

/***************************************************/
/* X-Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1900px) {

}