
:root {
    --wai-background-orange: rgba(190, 117, 51, 1);
    --theme-main: var(--wai-background-orange); 
    /* --theme-main: rgba(75, 80, 90, 1);  */
}
body {
    font-family: 'Roboto', sans-serif;
    background: #be74330c; 
}
nav {
    background: var(--theme-main);
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 0px;
}
nav ul {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 10px;
}
nav li {
    text-decoration: none;
    list-style-type: none;
    margin-right: 15px;
}
nav li a,
nav li a:visited {
    color: #ffffff;
}
nav li a:hover {
    text-decoration: underline;
}
li.navbar-wai-logo {
    margin: 0px auto;
}
.navbar-wai-logo img {
    height: 50px;
    width: auto;
}


.login-area {
    min-height: calc(100vh - 130px);
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
        ),
        url(../img/pexels-photo-459562.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#TextBox_userid,
#TextBox_password {
    width: 80vw;
    margin: 10px auto;
    border: 1px solid grey;
}
#ImageButton1 {
    margin: auto;
    border: 1px solid grey;
}

.check-login,
.consent {
    width: 75vw;
    background: rgba(255, 255, 255, 1.0);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}
.check-login button,
.consent button {
    margin: 15px;
}
.consent a {
    margin: 20px auto;
}

main {
    min-height: calc(100vh - 130px);
    margin: 10vh auto;
}
.test-selection {
    width: 90vw;
    margin: 20px auto;
    text-align: center;
}

#test__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    margin: 20px auto;
}
.test__wrapper {
    /* flex: 1;  */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    margin: 20px 10px;
    width: 90vw;
    background: #ffffff;
}
.test__name {
    flex: 1;
    color: white;
    /* background: #000000; */
    background: var(--theme-main, brown);
    text-align: center;
    padding: 5px;
    border: 1px solid #000000;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}
.test {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 0px 0px 5px 5px;
}
.test p {
    flex: 1;
}

.test a {
    padding: 1px;
    margin: 20px 25px 5px 25px;
    border: 1px solid black;
}



footer {
    background: var(--theme-main);
    padding: 0px;
    border-top: 1px solid #000000;
    margin: 0px;
}
footer p {
    text-align: center;
    color: #ffffff;
    padding: 10px 50px;
    margin: 0px;

}
/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 576px) {
    li.navbar-wai-logo {
        margin-left: 15px;
        margin-right: auto;
    }
    .navbar-wai-logo img {
        height: 30px;
        width: auto;
    }
    .login-area {
        min-height: calc(100vh - 90px);
        background:
        linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
        ),
        url(../img/pexels-photo-459562.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
   
    #TextBox_userid,
    #TextBox_password {
        width: 25vw;
    }

    .check-login,
    .consent,
    .test-selection {
        width: 50vw;
    }
    .check-login button {
        margin: 20px;
    }
    
    
    

}

/***************************************************/
/* Small Devices, Tablets */
/***************************************************/
@media only screen and (min-width : 768px) {

    .check-login,
    .consent,
    .test-selection {
        width: 75vw;  
    }

    .test-selection {
        width: 80vw;
        margin: 50px auto;
        text-align: center;
    }
    
    #test__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90vw;
        margin: 20px auto;
    }
    .test__wrapper {
        /* flex: 1;  */
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        width: 45%;
    }
}

/***************************************************/
/* Medium Devices, Desktops */
/***************************************************/
@media only screen and (min-width : 992px) {

    .check-login,
    .consent,
    .test-selection {
        width: 50vw;
    }
    main {
        margin: 5vh auto;
    }
    .test-selection {
        width: 80vw;
        margin: 50px auto;
        text-align: center;
    }
    
    #test__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90vw;
        margin: 20px auto;
    }
    .test__wrapper {
        /* flex: 1;  */
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        width: 45%;
    }
    
}

/***************************************************/
/* Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1200px) {
    .consent {
        width: 65vw;
        padding: 20px;
    }
    
    main {
        margin: 10px auto;
        min-height: calc(100vh - 160px);
    }
    .test-selection {
        width: 65vw;
        margin: 50px auto;
        text-align: center;
    }
    
    #test__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 75vw;
        margin: 20px auto;
    }
    .test__wrapper {
        /* flex: 1;  */
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        width: 30%;
    }
    .test__name {
        flex: 1;
        padding: 0px;
    }
    .test {
        flex: 2;
    }
}

/***************************************************/
/* X-Large Devices, Wide Screens */
/***************************************************/
@media only screen and (min-width : 1900px) {

}