@charset "UTF-8";*, *:after, *:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0px auto 0px auto;padding:0;text-align:center;color:#000;font-family:Droid Serif, Arial, Helvetica, sans-serif;font-size:100%;width:980px;-webkit-text-size-adjust:none;}
h2{font-size:1.571em}
h3{font-size:1.429em}
h4{font-size:1.286em}
h5{font-size:1.143em}
h6{font-size:1em}
h2, h3, h4, h5, h6{font-weight:400;line-height:1.2;margin-bottom:.8em;}
p{font-size:.9em;line-height:1.2;text-align:justify;}
#wrapper{width:100%;text-align:left;margin:0px auto 0px auto;}
.header{width:100%;margin:0px;padding:10px 0px;height:auto;}
.header a,
.header a:visited {
	text-decoration: none;
	color:#000;	
}
.header h1, h2, h3, h4, h5, h6{font-weight:400;text-align:center;color:#000;background-color:#FFF;margin:0px;padding:0px;line-height:1em;}
.header h1{font-size:3em;}
.companyinfo{width:100%;margin:0px auto 0px auto;}
#nav{width:960px;margin:0px auto 0px auto;padding:0px;border-bottom-width:2px;border-bottom-style:outset;border-bottom-color:#000;}
#mainnav{background-color:#FFF;text-align:center;padding:10px 0px 10px 0px;margin:0px;width:100%;}
#mainnav li{font-size:0.9em;color:#000;text-decoration:none;display:inline;padding-right:20px;}
#mainnav li a{text-decoration:none;color:#000;}
#mainnav li a.red{text-decoration:none;color:#F00;}
#mainnav li a:hover{text-decoration:underline;}
.hero-banner{width:100%;height:auto;padding:0px;overflow:hidden;clear:both;margin:20px auto 0px auto;}
.hero-banner img{width:100%;height:auto;}
#overview{width:100%;clear:both;margin:0px;padding:10px 15px 20px 15px;}
#overview h6{text-align:justify;line-height:1.2em;margin:0px;padding:0px;}
.callout-banner{width:100%;margin-top:30px;margin-bottom:-25px;padding:0;}
.callout-banner img{width:95%;margin-left:2.5%;margin-right:2.5%;}
#callouts{width:960px;margin:0px auto 50px auto;padding-bottom:50px;}
.callouts{width:960px;margin:0px auto 50px auto;padding-bottom:50px;}
.grid{width:100%;padding-top:40px;}
.grid-pad{padding-top:20px;padding-right:0px;padding-bottom:20px;padding-left:20px;}
.grid-pad > [class*='col-']:last-of-type{padding-right:20px;}
.grid:after{content:"";display:table;clear:both;}
.grid img,
.grid-pad img{width:100%;clear:both;float:none;margin:0;padding:0;z-index:1;}
.grid p,
.grid h1,
.grid h2,
.grid h3,
.grid h4{color:#FFF;text-align:center;font-size:.75em;font-style:normal;font-weight:normal;position:absolute;bottom:0;z-index:2;}
.grid-callout{position:relative;width:100%;background-color:#000;border:medium solid #000;margin-top:10px;margin-bottom:10px;}
.grid-callout a{position:absolute;width:100%;height:100%;top:0;left:0;text-decoration:none;z-index:10;background-color:#FFF;opacity:0;filter:alpha(opacity=1);}
.grid-callout p,
.grid-callout h1,
.grid-callout h2,
.grid-callout h3,
.grid-callout h4{color:#FFF;text-align:center;font-size:0.85em;font-style:normal;font-weight:normal;position:absolute;bottom:0;z-index:2;line-height:1em;margin:0;border:none;padding-top:1em;padding-bottom:1em;}
.grid-callout-brand{color:#000;background-color:#FFF;text-align:center;padding-bottom:20px;}
.grid-callout-desc{color:#000;background-color:#FFF;text-align:left;margin:0px 0px 0px 5px;}
.grid-callout-100{background-color:transparent;}
.grid-callout-100 h1{text-align:left;font-size:2em;font-style:normal;font-weight:normal;position:absolute;top:0;z-index:2;line-height:1em;margin:0;border:none;padding-left:55%;padding-right:5%;padding-top:1.5em;padding-bottom:1em;}
.grid-callout-100 p{text-align:left;font-size:.75em;padding-left:55%;padding-right:5%;padding-top:1em;padding-bottom:1em;}
.grid-callout-100-sale{background-color:transparent;}
.grid-callout-100-sale h1{text-align:left;font-size:4.5em;font-style:normal;font-weight:bold;position:absolute;top:0;z-index:2;line-height:1em;margin:0;border:none;padding-left:20px;padding-top:200px;}
.grid-callout-100-sale p{text-align:left;font-size:.75em;padding-left:55%;padding-right:5%;padding-top:1em;padding-bottom:1em;}
.grid-product{color:#000;text-align:justify;background-color:#FFF;line-height:1.25em;}
.grid-wrapper{width:100%;}
[class*='col-']{float:left;padding-right:20px;min-height:40px;}
[class*='col-']:last-of-type{padding-right:0px;}
.col-1-8{width:12.5%;}
.col-1-20{width:20%;}
.col-1-4{width:25%;}
.col-1-40{width:40%;}
.col-1-3{width:33.33%;}
.col-1-2{width:50%;}
.col-1-60{width:60%;}
.col-2-3{width:66.66%;}
.col-1-100{width:100%;}
.red{color:red;}
.white-black{color:#FFF;background-color:#000;margin:0px;padding:10px 0px;}
.center-text{text-align:center;}
.no-bottom-gap{margin-bottom:0px;padding-bottom:0px;}
.border-thin{border:1.5px solid #000;}
#map_canvas{width:500px;height:400px;}
.tiebreakers{margin-top:50px;}
.tiebreakers h6{width:100%;margin:0px 0px 0px 0px;padding:10px 0px 5px 0px}
.tiebreakers h6:first-of-type{width:100%;margin:0px 0px 0px 0px;padding:20px 0px 5px 0px}
.tiebreakers p{width:100%;margin:0px;padding-bottom:20px;line-height:1.25em;}
.footer-bump{margin:50px 0px 0px 0px;}
#footer{margin-top:125px;clear:both;padding-top:0;margin-left:-20px;border-top-width:2px;border-top-style:inset;border-top-color:#000;}
#footer p{font-size:0.8em;line-height:1.25em;text-align:left;}
#footer p a{text-decoration:none;color:#000;}
#footer p a:hover{color:#000;text-decoration:underline;}
.link-wrapper{position:relative;border:2px solid #000;}
.link-wrapper a{position:absolute;width:100%;height:100%;top:0;left:0;text-decoration:none;z-index:10;background-color:white;opacity:0;filter:alpha(opacity=1);border:2px solid #000;}
.no-border,
.no-border a,
.no-border a:hover,
.no-border a:visited,
.no-border img,
.no-border img a,
.no-border img a:hover,
.no-border img a:visited{border:none;border-width:0px;text-decoration:none;}
.map-small{display:none;}
.mobile{display:none;}
.footer-mobile{dislpay:none;}
@media only screen
and (min-device-width:320px)
and (max-device-width:480px){body,
#nav,
#callouts,
.callouts{width:100%;}
.header h1{font-size:2em;}
.header h6{font-size:.65em;}
.col-1-8,
.col-1-20,
.col-1-4,
.col-1-40,
.col-1-3,
.col-1-2,
.col-1-60,
.col-2-3{width:100%;}
.catalog{width:33.3%;}
.catalog h6{width:66.6%;float:left;}
.grid-product h3,
.grid-product h4 {
	text-align: left;
}
.map-large{display:none;}
.map-small{display:inherit;}
.mobile{display:block;}
.no-mobile{display:none;}
#nav{display:none;}
#footer-mobile{margin-top:5px;clear:both;padding-top:0;margin:0px 10px;border-top-width:2px;border-top-style:inset;border-top-color:#000;}
#footer-mobile p{font-size:.9em;line-height:1.25em;text-align:center;margin:5px 0px}
#footer-mobile p a{text-decoration:none;color:#000;}
#footer-mobile p a:hover{color:#000;text-decoration:underline;}
#footer-mobile .disclaimer{margin-top:10px;font-size:.65em;text-align:justify;}
#nav2{width:100%;margin:0px auto 0px auto;padding-top:5px;}
#mainnav2{text-align:center;padding:10px 0px 10px 0px;margin:0px;width:100%;}
#mainnav2 li{
	width: 100%;
	font-size:1em;
	color:#FFF;
	background-color: #000;
	text-decoration:none;
	display:block;
	margin-top:5px;
	padding:10px 0px;
}
#mainnav2 li a{
	text-decoration:none;
	color:#FFF;
}
#mainnav2 li a.red{text-decoration:none;color:#F00;}
#index-nav{width:100%;margin:0px auto 0px auto;padding-top:5px;}
#index-navlist{text-align:center;padding:10px 0px 10px 0px;margin:0px;width:100%;}
#index-navlist li{
	width: 100%;
	font-size:1em;
	color:#FFF;
	background-color: #000;
	text-decoration:none;
	display:block;
	margin-top:5px;
	padding:10px 0px;
}
#index-navlist li a{
	text-decoration:none;
	color:#FFF;
}
#index-navlist li a.red{text-decoration:none;color:#F00;}
}
