/* .Ball {
    padding: 20px 40px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 25px;
} */

.Ball {
    background-color: tomato;
    border-radius: 50%;
    color: white;
    display: inline-block;
    width: 3em;
    height: 2.25em;
    padding-top: 0.75em;
    text-align: center;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
  }