.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.RollDice button {
    align-self: center;
    width: 15em;
    padding: 1.5em;
    border: 0;
    border-radius: 10px;
    margin-top: 3em;
    color: white;
    background-color: black;
}
.RollDice button:hover {
    background-color: green;
    cursor: pointer;
}